<!doctype html>

<html>

      <head>

        <title>{{title}}</title>
            <base href="/">
        {{!-- <link rel='stylesheet' type="text/css" href='css/style.css'> --}}

      </head>

      <body>

            {{!-- {{> header}} --}}
          
            {{{body}}}
      
            {{!-- {{> footer}} --}}

      </body>

</html>