<!doctype html>

<html>

      <head>

        <title>{{title}}</title>
            <base href="/">
        <link rel='stylesheet' type="text/css" href='css/login.css'>

      </head>

      <body>
            {{!-- <div class="login-container"> --}}
                <div class="login-box">
                    <div class="login-icon">
                        <img src="images/logo.png" width="100px" height="100px">
                    </div>
                    <form class="login-form">
                        <input type="text" placeholder="username">
                        <input type="text" placeholder="password">
                    </form>
                </div>
            {{!-- </div> --}}
      </body>

</html>